body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: black;
    margin: 0rem;
    overflow: hidden;
    font-family: 'Source Code Pro', monospace;
}

img {
    width: 50%;
    height: auto;
}

.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.profile .name {
    color: white;
    padding-left: 10px;
}

.profile .blink::after {
    content: "_";
    background-color: white;
}

@keyframes cursor-blink {
    0% {
        background-color: white;
        color: white;
    }

    50% {
        background-color: black;
        color: black;
    }
}

.profile .blink::after {
    animation: cursor-blink 1.5s steps(1) infinite;
    animation-delay: 1.3s;

}


.links img {
    height: auto;
    width: 30px;
}

.links {
    width: 50%;
    display: flex;
    justify-content: space-around;
}